@import "tailwindcss";

:root {
  --sub-background: #faf7f3;
  --sub-background-70: rgba(250, 247, 243, 0.7);
  --background: #f2e6d8;
  --primary: #c25a3a;
  --secondary: #a24a2a;
  --accent: #6f7b4a;
  --text: #3e2f2a;
  --text-300: #d3c5c0;
  --text-500: #5b4a45;
  --text-600: #342521;
}

/* Define CSS variables for tailwind theming */
@theme inline {
  --color-background: var(--background);
  --color-sub-background: var(--sub-background);
  --color-sub-background-70: var(--sub-background-70);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-text: var(--text);
  --color-text-300: var(--text-300);
  --color-text-500: var(--text-500);
  --color-text-600: var(--text-600);
}

/* Dark mode styles (commented out for now) */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --sub-background: #1a1a1a;
  }
} */

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-dm-sans), sans-serif;
}
